

.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #063d39;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: rgb(42, 5, 250);
    caret-color: black;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black; 
}

button:hover {
    background-color: #94db29;
}
